<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>903633070543-im1rgsf3t64gfvvbto205n2beleh47fs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.903633070543-im1rgsf3t64gfvvbto205n2beleh47fs</string>
	<key>API_KEY</key>
	<string>AIzaSyAsKq2iJBEyr8SJPx63L0PdPysaZdpiefg</string>
	<key>GCM_SENDER_ID</key>
	<string>903633070543</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mikael-bernardino.trial002</string>
	<key>PROJECT_ID</key>
	<string>trialchat-8e21a</string>
	<key>STORAGE_BUCKET</key>
	<string>trialchat-8e21a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:903633070543:ios:09747f365725fd47368aba</string>
</dict>
</plist>